
 h1{
    color: red;
    font-family: 'Franklin Gothic Medium';
    text-align: center;
 }
 button{
    text-align: center;
    
 }
 body{
   background-color:aqua;
   text-align: center;
   font-family:cursive;
}
h5{
    font-family: 'Times New Roman';
}
 